<!DOCTYPE html>

  <html lang="en">

    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>Document</title>
      <link rel="stylesheet" href="../styles/index.css">
      <script type="module" src="../controllers/controller.js"></script>  
    </head>

    <body>
      <div class="wrapper">

      <header>
        <h1 class="title">Store your car</h1>
        <p class="subtitle">Register your vehicle</p>
      </header>

      <section>

        <form class="form-container-car">
          <div id="plate-input" class="form-group">
            <label for="plate">Plate</label>
            <input type="text" id="plate" name="plate">
            <small></small>
          </div>
          <div id="brand-input" class="form-group">
            <label for="brand">Brand</label>
            <input type="text" id="brand" name="brand">
            <small></small>
          </div>
          <div id="color-input" class="form-group">
            <label for="color">Color</label>
            <input type="text" id="color" name="color">
            <small></small>
          </div>
          <button type="submit">Create car</button>
        </form>

        <form class="form-container-wheels inactive">
          <div id="wheel1-input" class="form-group">
            <label for="wheel-brand-1">Wheel Brand 1</label>
            <input type="text" id="wheel-brand-1" name="wheel-brand-1">
            <small></small>
          </div>
          <div id="diameter1-input" class="form-group">
            <label for="wheel-diameter-1">Wheel Diameter 1</label>
            <input type="number" step="any" id="wheel-diameter-1" name="wheel-diameter-1">
            <small></small>
          </div>
          <div id="wheel2-input" class="form-group">
            <label for="wheel-brand-2">Wheel Brand 2</label>
            <input type="text" id="wheel-brand-2" name="wheel-brand-2">
            <small></small>
          </div>
          <div id="diameter2-input" class="form-group">
            <label for="wheel-diameter-2">Wheel Diameter 2</label>
            <input type="number" step="any" id="wheel-diameter-2" name="wheel-diameter-2">
            <small></small>
          </div>
          <div id="wheel3-input" class="form-group">
            <label for="wheel-brand-3">Wheel Brand 3</label>
            <input type="text" id="wheel-brand-3" name="wheel-brand-3">
            <small></small>
          </div>
          <div id="diameter3-input" class="form-group">
            <label for="wheel-diameter-3">Wheel Diameter 3</label>
            <input type="number" step="any" id="wheel-diameter-3" name="wheel-diameter-3">
            <small></small>
          </div>
          <div id="wheel4-input" class="form-group">
            <label for="wheel-brand-4">Wheel Brand 4</label>
            <input type="text" id="wheel-brand-4" name="wheel-brand-4">
            <small></small>
          </div>
          <div id="diameter4-input" class="form-group">
            <label for="wheel-diameter-4">Wheel Diameter 4</label>
            <input type="number" step="any" id="wheel-diameter-4" name="wheel-diameter-4">
            <small></small>
          </div>
          
          <button type="submit">Add wheels</button>
        </form>

      </section>

      <section>
        <div class="cars-container">
          <ul class="cars-list">

          </ul>
        </div>
      </section>
  
      </div>
    </body>
  </html>